SITE_URL=https://blog.obivan.org
LEGAL_OPERATOR_NAME=Ivan Babayev
LEGAL_OPERATOR_ROLE=AWS Cloud Infrastructure Engineer bei e2n
LEGAL_OPERATOR_LOCATION=Wuerzburg, Bayern, Deutschland
LEGAL_STREET=Deine Strasse 1
LEGAL_POSTAL_CITY=97070 Wuerzburg
LEGAL_COUNTRY=Deutschland
LEGAL_EMAIL=kontakt@example.com
LEGAL_PHONE=+49 000 000000
LEGAL_CONTENT_RESPONSIBLE=Ivan Babayev
LEGAL_CONTENT_ADDRESS=Deine Strasse 1, 97070 Wuerzburg, Deutschland
